<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Totoro’s Shelf</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <h1>Oops! This isn't a valid page!</h1>
    <h2>Head back to:</h2>
    <div class="selection-btns">
      <button><a href="/">home page</a></button>
      <button><a href="/library">library</a></button>
      <button><a href="/catalogue">catalogue</a></button>
    </div>
    <div class="totoro-bottom">
      <img src="images/totoro-error.png" alt="totoro" />
    </div>
</body>
</html>