<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Totoro’s Shelf</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="title">
      <img src="/TOTOROSHELF.svg" alt="Totoro’s Shelf" />
    </div>
    <h1>personal library tracker!</h1>
    <div class="selection-btns">
      <button><a href="/library">library</a></button>
      <button><a href="/catalogue">catalogue</a></button>
    </div>
    <div class="totoro-bottom">
      <img src="images/totoro.png" alt="totoro" />
    </div>
  </body>
</html>